*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  width: 100vw;
  height: 100vh;
  background-color: rgb(30, 30, 66);
 
}

.navbar{
  width: 100vw;
  height: 10vh;
  background-color: rgb(12, 12, 48);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
